

/* Estilos de resaltado de sintaxis */
.keyword {
    -fx-fill: #cc7832; /* Naranja para palabras clave */
}

.comment {
    -fx-fill: #629755; /* Verde para comentarios */
}

.string {
    -fx-fill: #caffb6; /* Verde más claro para cadenas */
}

.char {
    -fx-fill: #a5c261; /* Verde claro para caracteres */
}

.number {
    -fx-fill: #6897bb; /* Azul para números */
}

.preprocessor {
    -fx-fill: #808080; /* Gris para preprocesadores */
}

.operator {
    -fx-fill: #f3da43; /* Gris claro para operadores */
}

.identifier {
    -fx-fill: #9876aa; /* Púrpura para identificadores */
}
