.keyword {
    -fx-fill: #569CD6; /* Azul para palabras clave */
}

.comment {
    -fx-fill: #6A9955; /* Verde para comentarios */
}

.string {
    -fx-fill: #CE9178; /* Marrón para cadenas */
}

.char {
    -fx-fill: #D16969; /* Rojo para caracteres */
}

.number {
    -fx-fill: #B5CEA8; /* Verde claro para números */
}

.preprocessor {
    -fx-fill: #C586C0; /* Púrpura para preprocesadores */
}

.operator {
    -fx-fill: #D4D4D4; /* Gris claro para operadores */
}

.identifier {
    -fx-fill: #efcb1e; /* Azul claro para identificadores */
}
